[submodule "backend"]
	path = backend
	url = https://github.com/Alexey-zaliznuak/senler-ambassador-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/maxi-q/senler-amocrm-integration-frontend
